
			<div class="full-width-image-1">

    </div><!-- /full-width-image-1 -->

      <div class="container">
        <div class="row">
          <div class="col-lg-12 section">
            <h1 class="section-heading center">Every Home Has a Story</h1>
              <p class="lead section-lead center justify">Create your own books to collect the stories of the people who made the parcel a home through the years. Connect with prior owners and professionals who can help build your parcel's timeline. </p>
            <p class="center"><%= link_to "Sign up", new_user_path, class: "btn btn-primary btn-lg" %></p>
          

          </div>
      </div>
    </div>
      
    <div class="full-width-image-2">
      <!-- box content goes here if you want to put text or a button in here -->
    </div><!-- /full-width-image-2 -->
    
      <div class="container">
        <div class="row">
          <div class="col-lg-12 section">
            <h1 class="section-heading">Discover the History of Your House!</h1>
            <p class="lead section-lead">Researching the history of you home can be daunting and yet fun, like a treasure hunt. ParcelStory helps to collect this research and preserve it for others to see and add to.</p>
            <p class="section-paragraph">Researching the history of your house is not only an exciting trip into the past, but it can tell you how the house is built and give you clues as to how it should be maintained. </p>
          </div>
      </div>
    </div>
       

