
<div class="panel panel-default">
  <div class="panel-heading"><%= @story.body %>
      <%= link_to edit_book_story_path do %><span class="glyphicon glyphicon-pencil pull-right"></span>
        <% end %>
      <%= link_to book_path do %>
        <span class="glyphicon glyphicon-book pull-right"></span>
        <% end %>
  </div>
  <div class="panel-body">Source: <%= @story.source %>
  </div>
</div>

